<div class="jumbotron">
  <h2>Yelpdemo is the best way to find great local companies.</h2>
  <p>Explore your favorite diners, pasty shops, and eatries in your comunity. leave reviews and ratings for your fellow foodies.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Members login</a></p>
</div>